body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.NavLink {
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.NavLink--active {
  color: rgb(255, 69, 0);
}

.MovieDetailsWrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.MovieDetailsImg {
  width: 274px;
  height: 400px;
  margin-bottom: 20px;
}

.DetailsNavLinksWrapper {
  width: 140px;
  display: flex;
  justify-content: space-around;
}

.AddInfoWrapper {
  padding: 0 20px;
}

.CastList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 0;
}

.CastListItem {
  width: 180px;
  margin: 0 auto;
  height: 210px;
  text-align: center;
  margin-bottom: 10px;
  border: 2px solid rgb(72, 193, 187);
  border-radius: 8px;
  padding: 6px 0;
}

.CastListItemImg {
  width: 100px;
  height: 150px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: rgb(173, 216, 230);
  margin-bottom: 6px;
}

.CastListItemInfo {
  margin: 0 0 8px;
  font-size: 10px;
}

@media (min-width: 768px) {
  .MovieDetailsWrapper {
    flex-direction: row;
  }

  .MovieDetailsImg {
    width: 358px;
    height: 528px;
    margin-right: 20px;
  }

  .CastList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .CastListItem {
    width: 200px;
    height: 230px;
    font-size: 14px;
  }

  .CastListItemInfo {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .MovieDetailsImg {
    width: 428px;
    height: 632px;
  }
}
